{% extends 'home_app/base.html' %}
{% load static %}
{% block content %}
{% include 'home_app/header.html' %}
<main>
    {% include 'home_app/home_slider.html' %}
    <!--? Properties Start -->
    <section class="properties new-arrival fix">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay=".2s">
                        <h2>Popular products</h2>
                        <P>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
                            eros dolor interdum nulla.</P>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="properties__button text-center">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-Sofa-tab" data-toggle="tab" href="#nav-Sofa"
                                    role="tab" aria-controls="nav-Sofa" aria-selected="true">Sofa</a>
                                <a class="nav-item nav-link" id="nav-Table-tab" data-toggle="tab" href="#nav-Table"
                                    role="tab" aria-controls="nav-Table" aria-selected="false">Table</a>
                                <a class="nav-item nav-link" id="nav-Chair-tab" data-toggle="tab" href="#nav-Chair"
                                    role="tab" aria-controls="nav-Chair" aria-selected="false">Chair</a>

                                <a class="nav-item nav-link" id="nav-Bed-tab" data-toggle="tab" href="#nav-Bed"
                                    role="tab" aria-controls="nav-Bed" aria-selected="false">Bed</a>
                                <a class="nav-item nav-link" id="nav-Lightning-tab" data-toggle="tab"
                                    href="#nav-Lightning" role="tab" aria-controls="nav-Lightning"
                                    aria-selected="false">Lightning</a>
                                <a class="nav-item nav-link" id="nav-Decore-tab" data-toggle="tab" href="#nav-Decore"
                                    role="tab" aria-controls="nav-Decore" aria-selected="false">Decore</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active container-fluid" id="nav-Sofa" role="tabpanel"
                        aria-labelledby="nav-Sofa-tab">

                        <div class="row card-group">

                            {% for product in products|slice:8 %}
                            <div class="col-lg-3 col-md-4 col-sm-6 ">
                                <div class="single-new-arrival mb-50 text-center card shadow bg-white rounded">
                                    <div class="popular-img">
                                        <img style="height: 185px;" class="img-thumbnail"
                                            src="{{product.productattribute_set.first.imageURL}}" alt="">
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html">{{product.title}}</a></h3>
                                        <span>${{product.productattribute_set.first.price}}</span>

                                        <div class="add_to_cart">
                                            <button type="button" data-toggle="modal" class="btn"
                                                data-target="#productModal-{{product.id}}">
                                                add to cart</button>
                                            <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- product details modal -->
                            <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalCenterTitle">{{product.title}}</h3>
                                            <button style="font-size: 3rem;" type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <!--? Single Product Area Start-->
                                            <div class="product_image_area section-padding40">
                                                <div class="container">
                                                    <div class="row s_product_inner">
                                                        <div class="col-lg-5">
                                                            <div class="product_slider_img">
                                                                <div id="vertical">
                                                                    <div
                                                                        data-thumb="{{product.productattribute_set.first.imageURL}}">
                                                                        <img src="{{product.productattribute_set.first.imageURL}}"
                                                                            class="w-100 img-fluid img-thumbnail">
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 offset-lg-1">
                                                            <div class="s_product_text">
                                                                <button style="background-color: rgb(182, 126, 54);"
                                                                    class="btn btn-outline-dark">variation</button>
                                                                <hr>
                                                                <h2>${{product.productattribute_set.first.price}}</h2>
                                                                <ul class="list">
                                                                    <li>
                                                                        <a class="active" href="#">
                                                                            <span>Category</span> :
                                                                            {{product.category}}</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#"> <span>Availibility</span>

                                                                            {% ifequal product.status True %}
                                                                            : In Stock
                                                                            {% else %}
                                                                            : Out of Stock
                                                                            {% endifequal %}
                                                                        </a>
                                                                    </li>
                                                                </ul>

                                                                <p>
                                                                    {{product.description}}
                                                                </p>
                                                                <div class="card_area">
                                                                    <div class="product_count d-inline-block">
                                                                        <span class="inumber-decrement"> <i
                                                                                class="ti-minus"></i></span>
                                                                        <input class="input-number" type="text"
                                                                            value="1" min="0" max="10">
                                                                        <span class="number-increment"> <i
                                                                                class="ti-plus"></i></span>
                                                                    </div>
                                                                    <div class="add_to_cart">
                                                                        <a href="#" class="btn">add to cart</a>
                                                                        <a href="#" class="like_us"> <i
                                                                                class="ti-heart"></i> </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Product Area End-->

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- product details modal end -->
                            {% endfor %}

                        </div>

                    </div>

                </div>
                <!-- End Nav Card -->
            </div>
        </div>
    </section>
    <!-- Properties End -->
    <!--? Visit Our Tailor Start -->
    <div class="visit-tailor-area fix">
        <!--Right Contents  -->
        <div class="tailor-offers"></div>
        <!-- left Contents -->
        <div class="tailor-details">
            <h2>Best Furniture<br> manufacturer</h2>
            <p>Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <p class="pera-bottom">Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros
                dolor interdum nulla.</p>
            <a href="#" class="btn">Discover More</a>
        </div>

    </div>
    <!-- Visit Our Tailor End -->
    <!--? New Arrival-2 Start -->
    <div class="new-arrival new-arrival2">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                        data-wow-delay=".2s">
                        <h2>Products you may like</h2>
                        <P>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
                            eros dolor interdum nulla.</P>
                    </div>
                </div>
            </div>
            <div class="row card-group">

                {% for product in products|slice:4 %}
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <div class="single-new-arrival mb-50 text-center card shadow bg-white rounded">
                        <div class="popular-img">
                            <img style="height: 185px;" class="img-thumbnail"
                                src="{{product.productattribute_set.first.imageURL}}" alt="">
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">{{product.title}}</a></h3>
                            <span>${{product.productattribute_set.first.price}}</span>

                            <div class="add_to_cart">
                                <button type="button" data-toggle="modal" class="btn"
                                    data-target="#productModal-{{product.id}}">
                                    add to cart</button>
                                <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- product details modal -->
                <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalCenterTitle">{{product.title}}</h3>
                                <button style="font-size: 3rem;" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!--? Single Product Area Start-->
                                <div class="product_image_area section-padding40">
                                    <div class="container">
                                        <div class="row s_product_inner">
                                            <div class="col-lg-5">
                                                <div class="product_slider_img">
                                                    <div id="vertical">
                                                        <div
                                                            data-thumb="{{product.productattribute_set.first.imageURL}}">
                                                            <img src="{{product.productattribute_set.first.imageURL}}"
                                                                class="w-100 img-fluid img-thumbnail">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 offset-lg-1">
                                                <div class="s_product_text">
                                                    <button style="background-color: rgb(182, 126, 54);"
                                                        class="btn btn-outline-dark">variation</button>
                                                    <hr>
                                                    <h2>${{product.productattribute_set.first.price}}</h2>
                                                    <ul class="list">
                                                        <li>
                                                            <a class="active" href="#">
                                                                <span>Category</span> :
                                                                {{product.category}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <span>Availibility</span>

                                                                {% ifequal product.status True %}
                                                                : In Stock
                                                                {% else %}
                                                                : Out of Stock
                                                                {% endifequal %}
                                                            </a>
                                                        </li>
                                                    </ul>

                                                    <p>
                                                        {{product.description}}
                                                    </p>
                                                    <div class="card_area">
                                                        <div class="product_count d-inline-block">
                                                            <span class="inumber-decrement"> <i
                                                                    class="ti-minus"></i></span>
                                                            <input class="input-number" type="text" value="1" min="0"
                                                                max="10">
                                                            <span class="number-increment"> <i
                                                                    class="ti-plus"></i></span>
                                                        </div>
                                                        <div class="add_to_cart">
                                                            <a href="#" class="btn">add to cart</a>
                                                            <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product Area End-->

                            </div>

                        </div>
                    </div>
                </div>
                <!-- product details modal end -->
                {% endfor %}

            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn">
                    <a href="product.html" class="border-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!--? New Arrival End -->
    <!--? instagram-social start -->
    <div class="instagram-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="instra-tittle mb-40">
                        <div class="section-tittle">
                            <img src="{% static 'assets/img/gallery/insta.png' %}" alt="">
                            <h2>Get Inspired with Instagram</h2>
                            <P class="mb-35">Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                quis viverra ornare, eros dolor interdum nulla.</P>
                            <a href="#" class="border-btn">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="row no-gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="single-instagram">
                                <img src="{% static 'assets/img//gallery/instra1.png' %}" alt="" class="w-100">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="single-instagram">
                                <img src="{% static 'assets/img//gallery/instra2.png' %}" alt="" class="w-100">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- instagram-social End -->
    <!--? New Arrival-3 Start -->
    <div class="new-arrival new-arrival2">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                        data-wow-delay=".2s">
                        <h2>Top Pick</h2>
                        <P>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
                            eros dolor interdum nulla.</P>
                    </div>
                </div>
            </div>
            <div class="row card-group">

                {% for product in products|slice:4 %}
                <div class="col-lg-3 col-md-4 col-sm-6 ">
                    <div class="single-new-arrival mb-50 text-center card shadow bg-white rounded">
                        <div class="popular-img">
                            <img style="height: 185px;" class="img-thumbnail"
                                src="{{product.productattribute_set.first.imageURL}}" alt="">
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html">{{product.title}}</a></h3>
                            <span>${{product.productattribute_set.first.price}}</span>

                            <div class="add_to_cart">
                                <button type="button" data-toggle="modal" class="btn"
                                    data-target="#productModal-{{product.id}}">
                                    add to cart</button>
                                <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- product details modal -->
                <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalCenterTitle">{{product.title}}</h3>
                                <button style="font-size: 3rem;" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <!--? Single Product Area Start-->
                                <div class="product_image_area section-padding40">
                                    <div class="container">
                                        <div class="row s_product_inner">
                                            <div class="col-lg-5">
                                                <div class="product_slider_img">
                                                    <div id="vertical">
                                                        <div
                                                            data-thumb="{{product.productattribute_set.first.imageURL}}">
                                                            <img src="{{product.productattribute_set.first.imageURL}}"
                                                                class="w-100 img-fluid img-thumbnail">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 offset-lg-1">
                                                <div class="s_product_text">
                                                    <button style="background-color: rgb(182, 126, 54);"
                                                        class="btn btn-outline-dark">variation</button>
                                                    <hr>
                                                    <h2>${{product.productattribute_set.first.price}}</h2>
                                                    <ul class="list">
                                                        <li>
                                                            <a class="active" href="#">
                                                                <span>Category</span> :
                                                                {{product.category}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"> <span>Availibility</span>

                                                                {% ifequal product.status True %}
                                                                : In Stock
                                                                {% else %}
                                                                : Out of Stock
                                                                {% endifequal %}
                                                            </a>
                                                        </li>
                                                    </ul>

                                                    <p>
                                                        {{product.description}}
                                                    </p>
                                                    <div class="card_area">
                                                        <div class="product_count d-inline-block">
                                                            <span class="inumber-decrement"> <i
                                                                    class="ti-minus"></i></span>
                                                            <input class="input-number" type="text" value="1" min="0"
                                                                max="10">
                                                            <span class="number-increment"> <i
                                                                    class="ti-plus"></i></span>
                                                        </div>
                                                        <div class="add_to_cart">
                                                            <a href="#" class="btn">add to cart</a>
                                                            <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Product Area End-->

                            </div>

                        </div>
                    </div>
                </div>
                <!-- product details modal end -->
                {% endfor %}

            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn">
                    <a href="#" class="border-btn">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!--? New Arrival End -->
    <!-- Popular Locations End -->
    <!--? Services Area Start -->
    <div class="categories-area section-padding40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'assets/img/icon/services1.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Fast & Free Delivery</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="{% static 'assets/img/icon/services2.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Secure Payment</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="{% static 'assets/img/icon/services3.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Money Back Guarantee</h5>
                            <p>Free delivery on all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="{% static 'assets/img/icon/services4.svg' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Online Support</h5>
                            <p>Free delivery on all orders</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Services Area End -->
</main>


{% endblock content %}